

html {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fdd55b;
}

.backgroundColor {
    background-color: #0e0e44;
}

.fColorYellow {
    color: #fdd55b;
}

.fColorBlue {
    color: #94d4ed;
}

.fColorIndigo {
    color: #0e0e44;
}

header {
    max-width: 1000px;
}

nav {
    max-width: 1000px;
    margin: 0 auto;
}

#logo {
    height: 5em;
    max-width: 15em;
    font: 'Italianno';
}

.inlineBlock{
    display: block;
}

.buttonSize {
    min-width: 6em;
}

.classesIconSize {
    height: auto;
    width: 46%;
}

.backgroundColorYellow {
    background-color: #fdd55b;
}

.backgroundColorLigthBlue {
    background-color: #94d4ed;
}

nav {
    background: rgba(14, 14, 68, 0.7);
}

.shadow {
    text-shadow: 0px 0px 5px black;
  }

.customMargin {
    margin: 2%;

}

